<div class="title-section">
  <h3>Hi, <%= current_user.first_name %>!</h3>
</div>
<br>
<% if @applicants.count == 0 %>
  <% flash[:notice] = "Congratulations! Your scoring work is done!" %>
<% else %>
  <% if @number_of_scores_reviewed > 0 %>
    <% if @number_of_scores_reviewed == 1 %>
      <p>You have reviewed <%= @number_of_scores_reviewed %> application.</p>
    <% else %>
      <p>You have reviewed <%= @number_of_scores_reviewed %> applications.</p>
    <% end %>
      <p><%= link_to "See Applications You Have Reviewed", scores_path, class: "blue-link" %></p>
  <% else %>
      <p>You have not reviewed anyone yet.</p>
  <% end %>
  <% if current_user.scores.count %>
  <% end %>
  <div class="home-main">
    <% if !current_user.pending_score.nil? %>
      <h4>Pending score: <%= current_user.pending_score.applicant.full_name %></h4>
      <p><%= button_to "Continue Scoring #{current_user.pending_score.applicant.first_name}", new_score_path(@applicant), method: :get, class: "green-link" %></p>
    <% else %>
        <div class="title-section">
          <h4>To Review New Applicants:</h4>
        </div>
        <p><%= button_to "Review An Application We Suggest", new_score_path(@applicant), method: :get, class: "green-link" %></p>
        <p>----- or -----</p>
        <p> Choose from the list:</p>
        <div class="select-form">
          <%= form_for @score, url: "/scores/new", method: "get" do |f| %>
            <%= collection_select(:score, :applicant_id, @applicants, :id, :full_name_list, prompt: true) %>
            <%= submit_tag 'Choose', class: "green-link-select" %>
          <% end %>
        </div>
    <% end %>
  </div>
<% end %>



