<h3 id="index-title" >Applicants You Have Reviewed</h3>
<br>
<div style="overflow-x:auto;">
  <table class="applicant-table">
    <thead class=table-head>
      <tr>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Elligible for McCoy</th>
        <th>Financial Score</th>
        <th>Academic Score</th>
        <th>Recommend Score</th>
        <th>Essay Score</th>
        <th>Comments</th>
        <th>Last Updated</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <% @scores.each do |score| %>
      <tbody>
        <tr>
          <td class="td-non-link"><%= score.applicant.last_name %></td>
          <td class="td-non-link"><%= score.applicant.first_name %></td>
          <td class="td-non-link"><%= score.mccoy_qualified %></td>
          <td class="td-non-link"><%= score.financial %></td>
          <td class="td-non-link"><%= score.academic %></td>
          <td class="td-non-link"><%= score.recommend %></td>
          <td class="td-non-link"><%= score.essay %></td>
          <td class="td-non-link"><%= score.comments %></td>
          <td class="td-non-link"><%= score.updated_at %></td>
          <td><%= link_to "Edit",
                          edit_score_path(score),
                          class: "green-link" %>
          </td>
          <td><%= button_to "Delete",
                            score_path(score),
                            method: :delete,
                            confirm: "Are you sure?",
                            class: "red-link" %>
          </td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>
<% if @removed_applicants.count != 0 %>
  <div class="removed-queue">
    <h2>Removed You Removed From Your Queue</h2>
    <ol>
      <% @removed_applicants.each do |removed_applicant| %>
        <li>
            <p class="removed-list" ><%= removed_applicant.applicant.full_name %></p>
            <%= button_to "Add back to queue", removed_applicants_destroy_path(removed_applicant), method: :delete, class: "blue-link" %>
        </li>
      <% end %>
    </ol>
  </div>
<% end %>

