<h3>Reviewed</h3>
<br>
<table class="applicant-table">
  <thead class=table-head>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Elligible for McCoy</th>
      <th>Financial Score</th>
      <th>Academic Score</th>
      <th>Recommend Score</th>
      <th>Essay Score</th>
      <th>Comments</th>
      <th>Last Updated</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <% @scores.each do |score| %>
    <tbody>
      <tr>
          <td><%= score.applicant.first_name %></td>
          <td><%= score.applicant.last_name %></td>
          <td><%= score.mccoy_qualified %></td>
          <td><%= score.financial %></td>
          <td><%= score.academic %></td>
          <td><%= score.recommend %></td>
          <td><%= score.essay %></td>
          <td><%= score.comments %></td>
          <td><%= score.updated_at %></td>
          <td class="edit-button"><%= link_to "Edit", edit_score_path(score) %></td>
          <td class="delete-button"><%= button_to "Delete", score_path(score), method: :delete, confirm: "Are you sure?" %></td>
      </tr>
    </tbody>
  <% end %>
</table>
<% if @removed_applicants.count != 0 %>
  <br>
  <h4>Removed from queue</h4>
  <br>
  <table>
    <% @removed_applicants.each do |removed_applicant| %>
      <tbody>
        <tr>
            <td><%= removed_applicant.applicant.full_name %></td>
            <td><%= button_to "Add back to queue", removed_applicants_destroy_path(removed_applicant), method: :delete %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
<% end %>
