<% if @score.errors.any? %>
  <% @score.errors.full_messages.each do |message| %>
    <div class="c-flash c-flash--alert">
      <li><%= message %></li>
    </div>
  <% end %>
<% end %>
<p class="score-header">Your applicant is:</p>
<div class="title-section">
  <h3>
    <%= @applicant.first_name %> <%= @applicant.last_name %>
    <%= link_to "View #{@applicant.first_name}'s application in a new tab.",
                @applicant.link,
                target: :_blank,
                class: "blue-link application-link" %>
  </h3>
</div>
<div class="scores-form-div">
  <h2 class="scores-form-title">Scores Form</h2>
    <%= form_for(@score, html: { class: "scores-form" }) do |f| %>
      <% points = [0.0, 0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0] %>
      <% financial_need = ["5    Very high", "4.5", "4    High", "3.5", "3    Moderate", "2.5", "2    Low", "1.5", "1    None to very low", "0    No information provided -- disqualify"] %>
      <% academics = ["5    High grades, with challenging courses", "4.5    High grades, but with fewer challenging courses", "4    Good grades (B/B+ average) with difficult courses", "3.5    Good grades (As & Bs) but with fewer challenging courses", "3    Moderate grades with difficult courses", "2.5    Moderate grades, but with fewer challenging courses", "2    Fair grades with a few challenging courses", "1.5    Mediocre gades", "1    Poor student", "0    No academic information provided -- disqualify"] %>
      <% recommendations = ["5    Outstanding – \“best student I\'ve ever had\”", "4.5", "4    Excellent – cites specific qualities about the candidate", "3.5", "3    Average – boilerplate letter", "2.5", "2    So-so – \“has potential\”", "1.5", "1    Poor", "0    No recommendations provided -- disqualify"] %>
      <% ten_points = [10.0, 9.5, 9.0, 8.5, 8.0, 7.5, 7.0, 6.5, 6.0, 5.5, 5.0, 4.5, 4.0, 3.5, 3.0, 2.5, 2.0, 1.5, 1.0, 0.5, 0.0] %>
      <div class="mccoy-checkbox-div">
        <%= check_box_tag(:mccoy, "1", false, class: "checkbox") %>&nbsp&nbsp&nbsp&#x2B05
        <%= label_tag(:mccoy, "Check if eligible for McCoy Scholarship (hemophilia A, severe)", class: "checkboxtext") %>
      </div>
      <table class="new-score-selectors-table">
        <tr class="score-select-div">
          <td class="score-select-td"><%= f.label :financial, "Financial Need", class: "form-label"  %></td>
          <td class="score-select-td"><%= f.select :financial, financial_need, prompt: "Enter Rating", class: "selector" %></td>
        </tr>
        <tr class="score-select-div">
          <td class="score-select-td"><%= f.label :academic, "Academics", class: "form-label" %></td>
          <td class="score-select-td"><%= f.select :academic, academics, prompt: "Enter Rating", class: "selector" %></td>
        </tr>
        <tr class="score-select-div">
          <td class="score-select-td"><%= f.label :recommend, "Recommendations", class: "form-label" %></td>
          <td class="score-select-td"><%= f.select :recommend, recommendations, prompt: "Enter Rating", class: "selector" %></td>
        </tr>
        <tr class="score-select-div">
          <td class="score-select-td"><%= f.label :essay, "Reader Impressions", class: "form-label" %></td>
          <td class="score-select-td"><%= f.select :essay, ten_points, prompt: "Enter Rating", class: "selector" %></td>
        </tr>
      </table>
      <p><%= f.label :comments, "Comments (optional)" %></p>
      <p><%= f.text_area :comments, class: "text-area" %></p>
      <p><%= f.hidden_field :applicant_id %></p>
      <p><%= f.submit "Submit Scores", class: "green-link" %></p>
    <% end %>
</div>
<div class="reviewed-by-text">
  <% if @applicant.users.count == 0 %>
      <ul>You will be the first to score <%= @applicant.full_name %>.</ul>
  <% else %>
      <ul><%= @applicant.full_name %> has been reviewed thus far by:</ul>
      <% @applicant.users.each do |user| %>
          <li><%= user.first_name %> <%= user.last_name %></li>
      <% end %>
  <% end %>
</div>
<div class="cancel-buttons-div">
  <p><%= link_to "Cancel This Review",
                 removed_applicants_delete_pending_score_path,
                 {
                   class: "red-link",
                   onclick: "return confirm('Are you sure you want to cancel this score?')"
                 } %>
  </p>
  <p>----- or ------</p>
  <p><%= link_to "Cancel and remove #{@applicant.full_name} from my queue",
                 removed_applicants_create_path(@applicant),
                 {
                   class: "red-link",
                   onclick: "return confirm('Are you sure you want to cancel this score and remove #{@applicant.full_name} from your queue?')"
                 } %>
  </p>
</div>
