<h3>Hi, <%= current_user.first_name %>.</h3>
</br>
<p>You have reviewed <%= @scores.count %> application(s):</p>
<% @scores.each do |score| %>
	<p>- <%= score.applicant.first_name %> <%= score.applicant.last_name %></p>
<% end %>
<p>To start a new review, click below!</p>
<%= button_to "Review New Application", new_page_path, method: :get %>


