<!DOCTYPE html>
<html>
  <head>
    <title>HNCScholarScoresGroup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= favicon_link_tag asset_path('HNC-Favicon.ico')%>
  </head>

  <body class="l-body">
    <%= render "shared/header" %>
    <%= render "shared/flash"%>
    <div class="l-container l-container--centered">
      <%= yield %>
    </div>
    <%= render "shared/footer" %>
  </body>
</html>
